apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      containers:
      - name: audiobookshelf
        image: ghcr.io/advplyr/audiobookshelf:2.32.1
        envFrom:
        - configMapRef:
            name: audiobookshelf-configmap
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: audiobookshelf-audiobooks
          mountPath: /audiobooks
        - name: audiobookshelf-podcasts
          mountPath: /podcasts
        - name: audiobookshelf-config
          mountPath: /config
        - name: audiobookshelf-metadata
          mountPath: /metadata
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      volumes:
      - name: audiobookshelf-audiobooks
        persistentVolumeClaim:
          claimName: audiobookshelf-audiobooks-pvc
      - name: audiobookshelf-podcasts
        persistentVolumeClaim:
          claimName: audiobookshelf-podcasts-pvc
      - name: audiobookshelf-config
        persistentVolumeClaim:
          claimName: audiobookshelf-config-pvc
      - name: audiobookshelf-metadata
        persistentVolumeClaim:
          claimName: audiobookshelf-metadata-pvc
