apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      containers:
      - name: audiobookshelf
        image: ghcr.io/advplyr/audiobookshelf:2.32.0
        envFrom:
        - configMapRef:
            name: audiobookshelf-configmap
