apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      containers:
      - name: audiobookshelf
        image: ghcr.io/advplyr/audiobookshelf:2.32.0
        envFrom:
        - configMapRef:
            name: audiobookshelf-configmap
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
        volumeMounts:
        - name: audiobookshelf-audiobooks
          mountPath: /audiobooks
        - name: audiobookshelf-podcasts
          mountPath: /podcasts
        - name: audiobookshelf-config
          mountPath: /config
        - name: audiobooks-metadata
          mountPath: /metadata
