apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  type: "oci"
  interval: 24h
  url: oci://quay.io/jetstack/charts/cert-manager
